@font-face {
    font-family: Sahel;
    src: url('/fonts/Farsi-Digits/Sahel-FD.eot');
    src: url('/fonts/Farsi-Digits/Sahel-FD.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Farsi-Digits/Sahel-FD.woff') format('woff'),
    url('/fonts/Farsi-Digits/Sahel-FD.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('/fonts/Farsi-Digits/Sahel-Bold-FD.eot');
    src: url('/fonts/Farsi-Digits/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Farsi-Digits/Sahel-Bold-FD.woff') format('woff'),
    url('/fonts/Farsi-Digits/Sahel-Bold-FD.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('/fonts/Farsi-Digits/Sahel-Black-FD.eot');
    src: url('/fonts/Farsi-Digits/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Farsi-Digits/Sahel-Black-FD.woff') format('woff'),
    url('/fonts/Farsi-Digits/Sahel-Black-FD.ttf') format('truetype');
    font-weight: 900;
}
html,body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: 'Sahel','Roboto', sans-serif;
}

.walletcss{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 60%;
    z-index: 0;
}
.bordera{
    border: 1px solid grey;
}
.btn-flat {
    height: auto;
    white-space: normal !important;
}
.fix-button{
    width: 100%;
}

.head-button{
    z-index: 999999;
    position: relative;
}

.rtl{
	direction: rtl !important;
}
.rfloat{
    float: right; !important;
}
.bold{
    font-weight: bold;
}
.phonesize{
    font-size: 24px !important;
    font-weight: bold;
}


.first{
    order: 1 !important;
}
.secend{
    order: 2 !important;
}
.logo-img {
    max-height: 64px!important;
    padding: 15px 0!important;
}
.xlarge-icon{
    font-size: 164px;
}
.large-icon{
    font-size: 16em;
}
.medium-icon{
    font-size: 2em;
}
.super{
    min-height: 30px !important;
    direction: rtl;
}
.super-small{
    min-height: 42px !important;
    direction: rtl;
}
.diver{
    border-top: 1px solid #bdbdbd;
}
.auto{
    margin-right: 12% !important;
}
.left-auto{
    margin-left: 10% !important;
}
.nav-log{
    width: 48px;
    margin-top: 1vh;
    margin-left: 5vw;
}


